{% load staticfiles %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
     <title>{% block title %}{% endblock %}</title>
     <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>
<body>
  <div id="header">
  <span class="logo"><a href="{% url 'home' %}">Taxi</a> </span>
  {% if request.user.is_authenticated %}
    <ul class="menu">
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href="{% url "dashboard" %}">Panel główny</a>
      </li>
    </ul>
  {% endif %}

  <span class="user">
    {% if request.user.is_authenticated %}
        Grupa: {{ request.user.groups.all.0 }} <p style="font-weight: bold; display: inline;">|</p>
      Witaj, {{ request.user }}!
      <a href="{% url 'logout' %}">Wyloguj</a>
    {% else %}
      <a href="{% url 'login' %}">Zaloguj</a>
    {% endif %}
  </span>
  </div>

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
               <!-- <a href="#" class="close">✖</a> -->
            </li>
        {% endfor %}
    </ul>

  {% endif %}


  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
