{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></br>
    </p>
        Nie masz konta ?
        <p class="button">
        <a href="{% url 'register_driver' %}">Zarejestruj jako kierowca.</a>
        </br>
        <a href="{% url 'register_client' %}">Zarejestruj jako klient.</a>
    </p>
{% endblock %}
