{% extends 'base.html' %}
{% block title %}Hasło zostało zmienione pomyślnie{% endblock %}

{% block content %}
    <h1>Hasło zostało zmienione</h1>
    <p>Zmiana hasła zakończyła się powodzeniem.</p>
{% endblock %}