{% extends "base.html" %}

{% block title %}Dodaj samochód{% endblock %}

{% block content %}
    <h1>Dodaj samochód</h1>
    <form action="." method="post">
        {{ car_form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" value="Dodaj samochód">
            <a href="{% url 'dashboard' %}"><input type="button" value="Powrót"></a>
        </p>
    </form>
{% endblock %}
