{% extends "base.html" %}

{% block title %}Witaj{% endblock %}

{% block content %}
  <h1>Dodano samochód.</h1>
    <p>Samochód <b>{{ car_brand }} {{ car_model }} o numerze {{ car_register_number }}</b> został dodany.</p>
  <a href="{% url 'dashboard' %}">Powrót</a>
{% endblock %}
