{% extends "base.html" %}
{% block title %}Zamów taksówkę{% endblock %}
{% block extrahead %}{{ course_form.media }} {% endblock %}
{% block content %}
    <h1>Zamów taksówkę</h1>
    <form action="." method="post">

        {{ course_form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" value="Zamów">
            <a href="{% url 'dashboard' %}"><input type="button" value="Powrót"></a>
        </p>
    </form>

{% endblock %}
