{% extends "base.html" %}

{% block title %}Anuluj kurs{% endblock %}

{% block content %}
    <h1>Anuluj kurs</h1>
    <form action="." method="post">
        {{ transaction_form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" value="Anuluj">
        </p>
    </form>
{% endblock %}
