{% extends 'base.html' %}

{% block title %} Edycja konta {% endblock %}

{% block content %}
    <h1>Zmiana samochodu: </h1>
    <form action="." method="post" enctype="multipart/form-data">
        {{ car_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Zapisz zmiany">
            <a href="{% url 'dashboard' %}"><input type="button" value="Powrót"></a>
        </p>
    </form>
{% endblock %}