{% extends "base.html" %}

{% block title %}Wybierz kurs{% endblock %}

{% block content %}
    <h1>Wybierz kurs: </h1>
    <form action="." method="post">
        {{ choose_form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" name="details" value="Pokaż szczegóły" />
            <input type="submit" value="Weź kurs">
            <a href="{% url 'dashboard' %}"><input type="button" value="Powrót"></a>
        </p>
    </form>
{% endblock %}
