{% extends "base.html" %}

{% block title %}Panel główny{% endblock %}

{% block content %}
  <h1>Panel główny</h1>
    <p>Witaj w panelu głównym. Możesz <a href="{% url 'edit' %}">edytować profil</a>
        lub <a href="{% url 'password_change' %}">zmienić hasło.</a>
    </p>
    <p>
        {% if profile.isClient %}
            {%  if actuall_course != None %}
                Twój aktualny kurs: {{ actuall_course }}<br>
                {% if course_driver %}
                    Do twojego kursu został przypisany: {{ course_driver.user.first_name }} {{ course_driver.user.last_name }}
                {% else %}
                    Do twojego kursu nie został przypisany jeszcze żaden kierowca.
                {% endif %}
                <br><a href="{% url 'client_cancel_course' %}">Anuluj</a><br>
            {% endif %}

            <a href="{% url 'add_course' %}">
                <input type="submit" value="Zamów taksówkę">
            </a>
            <a href="{% url 'show_ended_client_course' %}">
                <input type="submit" value="Przeglądaj kursy">
            </a>
        {% elif profile.isDriver%}
            Twój aktualny samochód : {{ driver_detail.CarID }} <br>
            {% if driver_detail.isBusy %}
                Twój aktualny kurs: {{ actuall_course }} <a href="{% url 'end_course' %}">Zakończ</a> <a href="{% url 'cancel_course' %}">Anuluj</a><br>
             {% else %}
               Jesteś wolny.
            {% endif %}
            <br>
            <a href="{% url 'change_car' %}">
                <input type="submit" value="Zmień samochód">
            </a>
            <a href="{% url 'add_car' %}">
                <input type="submit" value="Dodaj samochód">
            </a>
            <a href="{% url 'choose_course' %}">
                <input type="submit" value="Wybierz kurs">
            </a>
            <a href="{% url 'show_ended_driver_course' %}">
                <input type="submit" value="Przeglądaj kursy">
            </a>

        {% endif %}
    </p>
{% endblock %}
