{% extends "base.html" %}

{% block title %}Zakończ kurs{% endblock %}

{% block content %}
    <h1>Zakończ kurs</h1>
    <form action="." method="post">
        {% csrf_token %}
        <p>
            <input type="submit" value="Zakończ">
        </p>
    </form>
{% endblock %}
