{% extends "base.html" %}

{% block title %}Odbyte kursy: {% endblock %}

{% block content %}
    <h1>Wybierz kurs: </h1>
    <form action="." method="post">
        {{ show_form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" name="details" value="Pokaż szczegóły" />
            <a href="{% url 'dashboard' %}"><input type="button" value="Powrót"></a>
        </p>
    </form>
{% endblock %}
